$border-clr: #F7F5F2;

.cartContainer {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.cart_header {
    text-align: center;
}

.cartProductContainer {
    padding: 20px 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    img {
        width: 300px;
        height: 200px;
        object-fit: contain;
    }
}

.checkout-btn {
    padding: 10px;
    align-self: flex-start;
    background-color: black;
    color: #fefefe;
    border: 1px solid black;
    font-size: 1.12rem;
}

.cart_totalPrice {
    align-self: flex-start;
    padding-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}
