$header-clr: #FEFEFE;

.header-ctn {
    position: relative;
    background-color: rgba(0, 0 , 0, 0.6);
    z-index: 2;
    transition: background-color 0.2s ease-in-out;
    top: 0;
    right: 0;
    left:0;
}

.header-ctn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.header {
    position: relative;
    font-size: 1.5rem;
    padding: 10px;
    color: $header-clr;
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: $header-clr;
    }
}

.icon-wrapper {
        text-decoration: none;
        color: $header-clr;
        right: 0;
        position: absolute;
        top: 30%;
        margin-right: 25px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
            color: $header-clr;
        }
}