$header-clr: #FEFEFE;

.header {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: $header-clr;
    background-color: rgba(0, 0 , 0, 0.9);
    h1 {
        font-size: 3rem;
    }
    a {
        text-decoration: none;
        color: $header-clr;
    }
}