.main {
    height: calc(100vh - 108px);
    background-image: url(../assets/hero-img.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 2;
    top: 70%;
    padding-left: 5%;
     a {
        display: inline-block;
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 10px;
        margin-top: 20px;
        background-color: #FEFEFE;
        transition: background-color .2s ease-in-out;
        font-size: 1.2rem;
     }
     a:hover {
        color: white;
        background-color: black ;
     }
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }