$header-clr:#FEFEFE;
.navlinks {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    a {
        text-decoration: none;
        color: $header-clr;
    }
    a:hover {
        border-bottom: 1px solid $header-clr;
    }
}

